# 编译文件
**/out/**
**/build/**
**/.vscode/**

# 测试用例
*.in
*.out

# 测试用例
**_input**.txt
**_output**.txt

# 所有 _ 开头的都是没有通过的
**/_**.py
**/_**.cpp
**/_**.go
**/TODO**.cpp
**/TODO**.py
**/TODO**.go
acwing/TODO_99-约数之和.py
